
.bottom_menu_mobile{
    display: none;
}


/* Mobile */
@media (max-width: 614px) {
  .bottom_menu_mobile {
      position: fixed;
      bottom: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100vw;
      height: 54px;
      background-color: #FFFFFF;
      border-top: 1px solid #DBDBDB;
  }
  .bottom_menu_mobile > div{
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 93.46vw;
      height: 54px;
  }
}