
.post{
  position: relative;
  box-sizing: border-box;
  background-color: #FFFFFF;
  width: 614px;
  border-radius: 3px;
  border: 1px solid #DBDBDB;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 60px;
}
.post > img{
  width: 612px;
}
.post .pop_up_heart{
  background: transparent;
  position: absolute;
  pointer-events: none;
  top: calc(50% - 75px);
  left: calc(50% - 75px);
  width: 150px;
  height: 150px;
  opacity: 0;
}
.post .pop_up_heart img{
  height: 100%;
  width: 100%;
  opacity: 0.7;
}
.post .pop_up_heart_animation{
  animation: heart_pop_up 1.0s linear;
}
@keyframes heart_pop_up {
  0% {
    transform: scale(1.0);
    opacity: 0;
  }
  20% {
    transform: scale(1.6);
    opacity: 1;
  }
  25% {
    transform: scale(1.0);
    opacity: 1;
  }
  95% {
    transform: scale(1.0);
    opacity: 1.0;
  }
  100% {
    transform: scale(1.0);
    opacity: 0;
  }
}




/* Mobile */
@media (max-width: 614px) {
  .post,
  .post > img{
      width: 100vw;
  }
}